@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

@layer base {
  :root {
    --clr-text-dark: #151515;
    --clr-text-neutral: #4E4D4B;
    --clr-accent: #D5966B;
  }

  body {
    font-family: 'Outfit', system-ui, sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--clr-text-neutral);
    transition: all ease .5s;
  }

  h1, h2, h3, a {
    font-family: 'Big Shoulders Display', system-ui, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  h1, h2, h3 {
    color: var(--clr-text-dark);
  }

  h2 {
    font-size: 3.1rem;
    line-height: 2.9rem;
    letter-spacing: 0.6px;
  }

  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 3.7rem;
      line-height: 1;
    }
  }
}

@layer utilities {
  .wrapper {
    padding-inline: 1rem;
    max-width: 70rem;
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 768px) {
    .wrapper {
      padding-inline: 2.5rem;
    }
  }
  @media only screen and (min-width: 768px) {
    .wrapper {
      max-width: 74rem;
    }
  }
}

@layer components {
  .socials svg {
    fill: white;
  }

  .socials svg:hover {
    fill: var(--clr-accent)
  }

  /* Animate a marker on the map */
  @keyframes fade { 
    from { opacity: 0.5; } 
  }

  .blinking {
    animation: fade 1s infinite alternate;
  }
}
